<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Registrar nuevo funcionario</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-item text-center>
    <img src="assets/imgs/logotipo.png" alt=logo>
  </ion-item>

  <ion-list no-border>
    <form [formGroup]="registerForm" (ngSubmit)="register()">
      <ion-item>
        <ion-label stacked>Nombre</ion-label>
        <ion-input type="text" name="name" formControlName="name"></ion-input>
      </ion-item>
      <div class="validator-error" *ngIf="registerForm.controls.name.errors?.required && registerForm.controls.name.touched">El
        nombre no puede ser vacío</div>


      <ion-item>
        <ion-label stacked>Identificación</ion-label>
        <ion-input type="text" name="personalId" formControlName="personalId"></ion-input>
      </ion-item>
      <div class="validator-error" *ngIf="registerForm.controls.personalId.errors?.required && registerForm.controls.personalId.touched">El
        documento de identidad no puede ser vacío</div>


      <ion-item>
        <ion-label stacked>Entidad</ion-label>
        <ion-input type="text" name="entity" formControlName="entity"></ion-input>
      </ion-item>
      <div class="validator-error" *ngIf="registerForm.controls.entity.errors?.required && registerForm.controls.entity.touched">La
        entidad no puede ser vacía</div>

      <ion-item>
        <ion-label>Rol</ion-label>
        <ion-select name="role" formControlName="role">
          <ion-option value="sys_admin">Administrador de sistema</ion-option>
          <ion-option value="op_agent">Agente operador de rutas</ion-option>
          <ion-option value="assist">Asistente</ion-option>
        </ion-select>
      </ion-item>
      <div class="validator-error" *ngIf="registerForm.controls.role.errors?.required && registerForm.controls.role.touched">Seleccione
        un rol</div>

      <ion-item>
        <ion-label stacked>
          <ion-icon name="mail" item-start></ion-icon> Correo
        </ion-label>
        <ion-input type="email" name="email" formControlName="email"></ion-input>
      </ion-item>

      <div class="validator-error" *ngIf="!registerForm.controls.email.valid && registerForm.controls.email.touched">
        Ingresa un correo valido
      </div>

      <div [formGroup]="credentialsForm">
        <ion-item>
          <ion-label stacked>Contraseña</ion-label>
          <ion-input type="password" name="password" formControlName="password"></ion-input>
        </ion-item>
        <div class="validator-error" *ngIf="credentialsForm.controls.password.errors?.required && credentialsForm.controls.password.touched">
          La contraseña no puede ser vacía
        </div>

        <ion-item>
          <ion-label stacked>
            <ion-icon name="lock" item-start></ion-icon>Confirma la contraseña
          </ion-label>
          <ion-input type="password" name="passwordConfirmation" formControlName="passwordConfirmation"></ion-input>
        </ion-item>
        <div class="validator-error" *ngIf="!credentialsForm.controls.passwordConfirmation.valid && credentialsForm.controls.passwordConfirmation.touched">
          Las contraseñas no coinciden
        </div>
      </div>

      <ion-item>
        <button ion-button block type="submit" [disabled]="!registerForm.valid">Registrarse</button>
      </ion-item>
    </form>
  </ion-list>
</ion-content>